<!DOCTYPE html>
<html>
	<head>
		<title>Acendendo Led</title>
		<style>
			.interItems {
				text-align: center;
			}
			.interactiveButtons {
				padding: 2em;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    height: 200px;
			}
			.onButton {
				width: 10em;
				height: 10em;
			}
			.offButton {
				width: 10em;
				height: 10em;
			}
		</style>
	</head>
	<body>
		<div class='interItems'>
			<h1>Sistemas Digitais Para Mecatrônica: Trabalho 2: IOT</h1>
			<div class='interactiveButtons'>
				<form action='#' method='POST'>
					<button class='onButton' onclick="ledOn()" name="on" value="on">Ligar</button>
					<button class='offButton' onclick="ledOff()" name="off" value="off">Desligar</button> 
				</form>
			</div>
			<button class='disconnectBtton' onclick="disconnect()" name="dis" value="dis">Desconectar</button> 
		</div>
	</body>
</html>
